RewriteEngine On
#accept loading of actual files and directories if they valid alone
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-directories

#send everything else to the index page if they are not valid

RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]